<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559059413195-bm452n249mhutpo2ddtmf8ptjrubbqqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559059413195-bm452n249mhutpo2ddtmf8ptjrubbqqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559059413195-4hcr4desjjc0sepgasfov0g43knpbvci.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT09NPRlSz7Bk8ckz46B90mQRkqP0JqQU</string>
	<key>GCM_SENDER_ID</key>
	<string>559059413195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.augustana.OSL-Calendar-IOS-App</string>
	<key>PROJECT_ID</key>
	<string>osl-events-app</string>
	<key>STORAGE_BUCKET</key>
	<string>osl-events-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559059413195:ios:86e39915e0e61732</string>
	<key>DATABASE_URL</key>
	<string>https://osl-events-app.firebaseio.com</string>
</dict>
</plist>